@model DornMovieApp.Models.Movie

@{
    ViewBag.Title = "Details \"" + Model.Name + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-md-9 col-lg-8" style="float:right;">
    <h3>Movie Poster Image:</h3>
    <img style="max-width: 100%" alt="@Model.Name" src="data:image/png;base64,@Model.Image" />
</div>
<div class="col-xs-12 col-md-3 col-lg-4">
    <h3>Name:</h3>
    <p>
        @Model.Name
    </p>

    <h3>Description:</h3>
    <p>
        @Model.Description
    </p>
</div>
<p class="col-xs-12">
    @Html.ActionLink("Edit", "Edit", new { id = Model.key }) |
    @Html.ActionLink("Back to List", "Index")
</p>
