@model DornMovieApp.Models.Movie

@{
    ViewBag.Title = "Edit \"" + Model.Name + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-md-offset-1">
        @using (Html.BeginForm("Edit", "MovieList", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="orig_name" value="@Model.Name" />
            <input type="hidden" id="orig_image" value="@Model.Image" />
            <input type="hidden" id="orig_desc" value="@Model.Description" />

            <div id="react_form">

            </div>
        }

    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="@Url.Content("~/Scripts/Components/tmdb.jsx")"></script>
<script src="@Url.Content("~/Scripts/Components/movieinput.jsx")"></script>
<script src="@Url.Content("~/Scripts/Components/MovieForm.jsx")"></script>
